{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "class-methods-use-this": "off",
    "function-paren-newline": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-for": ["error", { "required": { "some": ["id", "nesting"] }}],
    "no-alert": "off",
    "no-restricted-globals": "off",
    "prefer-destructuring": "warn",
    "prefer-spread": "warn",
    "react/no-unescaped-entities": "off",
    "react/require-default-props": "off"
  }
}
